ccopy_reg
_reconstructor
p1
(c__main__
DefaultConfig
p2
c__builtin__
object
p3
NtRp4
(dp5
S'learning_rate'
p6
F0.0050000000000000001
sS'num_layers'
p7
I2
sS'dropout_prob'
p8
F0.5
sS'dataset'
p9
S'softmax'
p10
sS'input_dim'
p11
I58
sS'num_epochs'
p12
I150
sS'hidden_size'
p13
I150
sS'input_dropout_prob'
p14
I1
sS'model_name'
p15
S'GYS9SYD2NOE0.model'
p16
sS'melody_coeff'
p17
F0.5
sS'learning_rate_decay'
p18
F0.5
sb.